{% extends "base.html" %}
{% load static %}

{% block extra_title %} - My Profile{% endblock %}

{% block extra_meta %}
{% endblock %}

{% block content %}

<div class="row p-4">
    <div class="col-sm">
        <h3><i class="fa-solid fa-dumbbell"></i> {{ workout.name }}</h3>

        {% if  workout.instructions %}
        <h4>Instructions:</h4>
        <p>{{ workout.instructions }}</p>
        {% endif %}


        <table class="table col-sm">
            <thead>
                <th>Exercise</th>
                <th>Reps</th>
                <th>Sets</th>
            </thead>
            <tbody>


                {% for exercise in workout.exercises.all %}
                <tr>
                <td>{{ exercise.exercise }}</td>
                <td>{{ exercise.reps }}</td>
                <td>{{ exercise.sets }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>

{% endblock %}
