{% extends 'base.html' %}

{% block content %}
  <h1>Workout</h1>
  {% if user.is_staff %}
  <a href="{% url 'workout_create' %}">Create</a>
   {% endif %}
  <ul>
    {% for workout in workouts %}
      <li><a href="{% url 'workout_update' workout.pk %}">{{ workout.name }}</a></li>
       {% if user.is_staff %}
       <form action="{% url 'workout_delete' workout.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete">
      </form>
       {% endif %}
    {% endfor %}
  </ul>
{% endblock %}
