.container-fluid {
    background-image: url(https://res.cloudinary.com/dgmiz0yih/image/upload/v1680812518/pexels-erik-zepeda-10448088_kz0vy5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    padding: 10%;
}

html {
    padding: 10px;
}
.main-bg {
    background-color: black;
}

.lead {
    color:rgb(255, 255, 255)
} 

.title {
    text-align: center;
    color: greenyellow;
    margin-top: 2rem !important;
}

.row {
    color: white;
    text-align: center;
}

.d-flex {
    color: aliceblue;
}

.nav {
    font-size: 1rem;
}

.px-2 {
    padding-right: 1.5rem !important;
    padding-left: 1rem !important;
    color: greenyellow;
}

h3 {
    color: greenyellow;
    margin-bottom: 0.5rem;
}

.nav-link {
    color: rgba(240, 248, 255, 0.796);
    font-weight: bold;
    font-size: 1.25rem ;
}

.ms-3 {
    color: greenyellow;
}