.container-fluid {
    background-image: url(https://res.cloudinary.com/dgmiz0yih/image/upload/v1680812518/pexels-erik-zepeda-10448088_kz0vy5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    padding: 10%;
}

.main-bg {
    background-color: black;
}

.lead {
    color:rgb(255, 255, 255)
} 

.title {
    text-align: center;
    color: greenyellow;
}

.row {
    color: white;
}