@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto+Condensed:wght@300&display=swap');

.container-fluid {
    background-image: url(https://res.cloudinary.com/dgmiz0yih/image/upload/v1680812518/pexels-erik-zepeda-10448088_kz0vy5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    padding: 10%;
}

html {
    padding: 10px;
}

.main-bg {
    background-color: black;
}

.lead {
    color:rgb(255, 255, 255);
    font-family: Roboto-Condensed, sans-serif;
} 

.title {
    text-align: center;
    color: greenyellow;
    margin-top: 2rem !important;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

.row {
    color: white;
    text-align: center;
}

.d-flex {
    color: aliceblue;
}

.nav {
    font-size: 1rem;
}

.px-2 {
    padding-right: 1.5rem !important;
    padding-left: 1rem !important;
    color: greenyellow;
}

h3 {
    color: greenyellow;
    margin-bottom: 0.5rem;
    font-family: Montserrat, sans-serif;
}

.nav-link {
    color: rgba(240, 248, 255, 0.796);
    font-weight: bold;
    font-size: 1.25rem ;
    font-family: Montserrat, sans-serif;
}

.ms-3 {
    color: greenyellow;
}

.d-flex{
    padding-bottom: 0.5rem;
}

.card {
    background-color: rgb(8, 8, 8);
}

.p {
    font-family: Montserrat, sans-serif;
}

.section-heading {
    height: 70px;
}
