{% extends 'base.html' %}

{% block content %}
<table class="table order-light mb-3 text-center">
  <thead>
    <tr>
      <h1 class='tabletitle'>Workout Name</h1>
    </tr>
  </thead>
  <tbody>
    {% for workout_item in workout_items %}
    <tr>
      <td>
        {{ workout_item }}
        </td>
        <td>
        <form action="{% url 'workout_item_delete' workout_item.pk %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Delete">
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
