{% extends 'base.html' %}

{% block content %}
<table class="table order-light mb-3 text-center">
  <thead>
    <tr>
      <th class='tabletitle' scope="col">Workout Name</th>
    </tr>
  </thead>
  <tbody>
    {% for workout_item in workout_items %}
    <tr>
      <td>
        {{ workout_item.name }}
        <form action="{% url 'workout_item_delete' workout_item.pk %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Delete">
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
