{% extends "base.html" %}

{% block content %}


<div class="container bg-image text-center">
    <h1 class="text-center">Welcome to Workout Prescriptions</h1>
    <p class="lead text-center">Here you can get personalized workouts made especially for you by our coachs</p>
    <p class="lead text-center">text
    </p>
    <p class="lead text-center">Check your today's workouts
    </p>
    <div>
        {% if request.user.is_authenticated %}
        <a href="{% url 'workout_sheet_create' %}" class="btn btn-outline-primary">Workouts</a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="btn btn-outline-primary">Sign up</a>
        {% endif %}
    </div>

</div>

{%endblock%}
