{% extends "base.html" %}

{% block content %}

<div class="container-fluid" >
</div>

<h1 class="title">Welcome to Workout Prescriptions</h1>
<p class="lead text-center">Enjoy us to became your best version!</p>
<p class="lead text-center">We offer a variety of fitness programs to help you achieve your health and fitness goals.
    Whether you're looking to lose weight, build muscle, or simply improve your overall health. Our experienced trainers
    are here to support you every step of the way with personalized training programs tailored to your individual needs
    and goals.
</p>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
    <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <div>
            <h3 class="fw-bold mb-0 fs-4"><i class="fa-solid fa-dumbbell"></i> Convenience</h3>
            <p>Access your workout plan from anywhere at any time</p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#cpu-fill"></use>
        </svg>
        <div>
            <h3 class="fw-bold mb-0 fs-4"><i class="fa-solid fa-dumbbell"></i> Personalized Approach</h3>
            <p>Personalized plan that is tailored to your needs</p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#calendar3"></use>
        </svg>
        <div>
            <h3 class="fw-bold mb-0 fs-4"><i class="fa-solid fa-dumbbell"></i> Efficient and Effective</h3>
            <p>Ensure you are targeting the right areas of your body to meet your goals
            </p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#home"></use>
        </svg>
        <div>
            <h3 class="fw-bold mb-0 fs-4"><i class="fa-solid fa-dumbbell"></i> Motivation</h3>
            <p>Stay motivated and committed to your fitness routine</p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#speedometer2"></use>
        </svg>
        <div>
            <h3 class="fw-bold mb-0 fs-4"><i class="fa-solid fa-dumbbell"></i> Expert guidance</h3>
            <p>Workout plans safe and effective</p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#toggles2"></use>
        </svg>
        <div>
            <h3 class="fw-bold mb-0 fs-4"><i class="fa-solid fa-dumbbell"></i> Flexibility</h3>
            <p>Adjust your plan as needed based on your progress, changes in your schedule or lifestyle</p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#geo-fill"></use>
        </svg>
        <div>
            <h3 class="fw-bold mb-0 fs-4"><i class="fa-solid fa-dumbbell"></i> Cost-effective</h3>
            <p>More affordable option than in-person personal training sessions </p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em">
            <use xlink:href="#tools"></use>
        </svg>
        <div>
            <h3 class="fw-bold mb-0 fs-4"><i class="fa-solid fa-dumbbell"></i> Overall</h3>
            <p>Personalized guidance and support that is needed</p>
        </div>
    </div>
</div>

{%endblock%}