{% extends 'base.html' %}


{% block content %}
<div class="d-flex aligns-items-center justify-content-center">

  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <h5 class="card-title">{{ workout_sheet.name }}</h5>
    </div>
    <div class="card-body">
      {% include "workout_sheet/week_day.html" with day_of_week="MO" prescriptions=mo %}
      {% include "workout_sheet/week_day.html" with day_of_week="TU" prescriptions=tu %}
      {% include "workout_sheet/week_day.html" with day_of_week="WE" prescriptions=we %}
      {% include "workout_sheet/week_day.html" with day_of_week="TH" prescriptions=th %}
      {% include "workout_sheet/week_day.html" with day_of_week="FR" prescriptions=fr %}
      {% include "workout_sheet/week_day.html" with day_of_week="SA" prescriptions=sa %}
      {% include "workout_sheet/week_day.html" with day_of_week="SU" prescriptions=su %}
    </div>
  </div>
</div>


{% endblock %}
