<div class="card">
  <div class="card-header bg-light">
    <h5 class="card-title color-dark">
      Monday
      <a class="btn btn-primary"
        href="{% url 'workout_prescription_create' workout_sheet_id=workout_sheet.pk day_of_week=day_of_week %}">Add
        </a>

    </h5>
  </div>
  <table class="table table-dark table-striped">
    <thead>
      <th>name</th>
      <th>set</th>
      <th>rep</th>
      <th></th>
    </thead>
    <tbody>
      {% for prescription in prescriptions %}
      <tr>
        <td scope="col">{{prescription.workout.name}}</td>
        <td scope="col">{{prescription.set}}</td>
        <td scope="col">{{prescription.rep}}</td>
        <td scope="col"> 
          <a class="btn btn-primary"
            href="{% url 'workout_prescription_delete' prescription.pk %}">
            Delete
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>