{% extends 'base.html' %}

{% block content %}
<table class="table order-light mb-3 text-center">
    <thead>
      <tr>
        <h1 class='tabletitle'>Exercise Name</h1>
      </tr>
       </thead>
       <tbody>
        {% for exercise in exercises %}
        <tr>
          <td>
            {{ exercise.name }}
          </td>
          <td>
          <a href="{% url 'exercise_delete' exercise.pk %}">
          Delete
          </a>
      </td>
       <td>
         <a href="{% url 'exercise_update' exercise.pk %}">
           Update
         </a>
       </td>
      </tr>
        {% endfor %}
      </tbody>
</table>
{% endblock %} 
